ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
   float: left;
}
li a{
  display: block;
  color: red;
  text-aling: center;
  padding: 30px 25px;
  text-decoration: none;
}

/*Change the link color to #111 (green) on hover*/
li a:hover {
  background-color: #111;
}
  
