body{
    background-image: url(bbn.jpg);
    background-repeat: no-repeat;
    background-position: cover;
    background-attachment: fized;
    background-size: cover;
    
}
ul{ 
  list-style-type: none;
  margin: 0;
  padding:0;
  overflow: hidden;
  background-colour:#333;
}
li{
  float: center;
}
li a { 
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/*Change the link color to #E5E7E9 (white) on hover */
li a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}



